# Git history
.git
.gitignore

# Credentials, config files, etc.
/custom/*
!/custom/README.md

# Caches
__pycache__
.cache
.ipynb_checkpoints
*.py[cod]
*.egg-info

# Apple debris
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db
