# Configuration files
/config/*
!/config/README.md

# Caches
__pycache__
.cache
.ipynb_checkpoints
.pytest_cache
*.py[cod]
*.egg-info

# Apple debris
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db
