# Data (and big files in general) go here. Don't upload them to GitHub.
data/*
!data/README.md
!data/Energy.csv
!data/Iris.csv
!data/Traffic.csv
!data/WaterSanitation.csv
!data/ZonalTempAnomaly.csv

# Mac OS generates some files we don't need in our repo
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db

# Don't clutter GitHub with notebook checkpoints or Python caches
.ipynb_checkpoints/
__pycache__

# Other stuff which should not be public
private/
